/*-------------------                      -------------------
/*                      registro basico
  -------------------                      -------------------*/
html,body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
}
.top{
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
    justify-content: center;
}
.formulario{
    max-height: 100%;
    margin:1em;
    border-radius: 1% 1% 0 0;
   
    background-color: #f6f6f6;
    
}
.form-header{
    display: flex;
    justify-content: center;
}
.form-header span{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    color: #007bff;
    text-align: center;
}

/*-------------------                      -------------------
/*                   registro administrador
  -------------------                      -------------------*/
.register{
    display: flex;
    align-items: center;
}

/*-------------------                      -------------------
/*                          bloqueo
  -------------------                      -------------------*/
.table-container{
    align-items: flex-start;
}
.header-bloqueo{
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    color: #007bff;
    text-align: center;
}
.table{
    text-align: center;
}
/*-------------------                      -------------------
/*                          cuestionario
  -------------------                      -------------------*/

.cuestionario{
    justify-content: center;
}
.tarjeta{
    width: 75%;
}
.tarjeta-header{
    background-color: #007bff;
}
.descArea{
    border: none;
    resize: none;
    border-radius: 0;
    transition: 0.2s;
    overflow: hidden;
}
.descArea:focus{
    border-bottom: 2px solid #007bff;
    outline: 0;
    box-shadow: none;
}
/*-------------------                      -------------------
/*                       registro basico
  -------------------                      -------------------*/
@media screen and (min-width:768px){
    .register{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

/*-------------------                      -------------------
/*                   registro administrador
  -------------------                      -------------------*/
@media screen and (min-height:780px){
    .formulario{
        background-color: #fff;
        box-shadow: 0 0 0 10px #fff,
                0 0 0 11px #ccc,
                0 20px 20px -12px #000;

    }

}
